.navigation {
  cursor: pointer;
  border-bottom: 2px solid #8b1638;
}

.navigation-current {
  cursor: pointer;
  border-bottom: 2px solid rgba(241, 196, 15, 0.8);
}

.link {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.navigation:hover,
.link:hover {
  border-bottom: 2px solid rgba(241, 196, 15, 0.8);
  transition: border-bottom-color 0.3s ease-in;
}
