.navigation {
  cursor: pointer;
  border-bottom: 2px solid #333333;
}

.navigation-current {
  cursor: pointer;
  border-bottom: 2px solid #f1c40f;
}

.link {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.navigation:hover,
.link:hover {
  border-bottom: 2px solid #f1c40f;
  transition: border-bottom-color 0.3s ease-in;
}
