ltu.ganayragana.cloud {
    handle /api* {
        reverse_proxy ltu-backend:8080
    }

    handle {
        reverse_proxy ltu-frontend:80
    }
}

mkd.ganayragana.cloud {
    handle /api* {
        reverse_proxy mkd-backend:8080
    }

    handle {
        reverse_proxy mkd-frontend:80
    }
}
